/* EDD Ajax Filters */
.edd-ajax-filter-row {
    position: relative;
}

.edd-ajax-filter-row:after {
    content: "";
    display: table;
    clear: both;
}

.edd-ajax-filter-wrapper {
    position: relative;
    clear: both;
}

.edd-ajax-filter-block > div > label,
.edd-ajax-filter-list > li > label {
    cursor: pointer;
}

/* Hide inputs */
.edd-ajax-filter-hide-inputs input[type="checkbox"],
.edd-ajax-filter-hide-inputs input[type="radio"] {
    display: none;
}

/* Inline */
.edd-ajax-filter-inline.edd-ajax-filter-block > div,
.edd-ajax-filter-inline.edd-ajax-filter-list > li {
    display: inline-block;
}

/* Animations */
.edd-ajax-filters-animating .edd_download:not(.animated) {
    opacity: 0;
    filter: alpha(opacity=0);
}